*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 100%;
}

hr {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}
