.halo {
  display: inline-block;
  margin: 2em;
  width: 6em;
  height: 6em;
  border-radius: 3em;
  background: transparent;
  box-shadow: 0 0 0 0.1em rgba(104, 192, 252, 0.5),
    0 0 1em 0.8em rgba(104, 192, 252, 0.6);
}
